// /* You can add global styles to this file, and also import other style files */
:root {
  --gold: #ca9b33;
  --black: #000000;
}

.sectionLogin{
  background: var(--black);
}

/*INPUT CONTAINER */

