<div id="containerField">
<fieldset>
  <div class="card-image">
    <img [src]="data.image" alt ="imagen rota"/>
  </div>
  <!-- <img src='../../../../assets/images/cafe_leche.png'/> -->
  <div class = "card_info">
    <p>{{data.name}}</p>
    <p>{{data.price | currency: "S/."}}</p>
  </div>
  <div class = "inputCant">
     <button type ="button" class="qty-button" (click)="decreaseQty(data)">-</button>
    <button type ="button" class="qty-button" (click)="increaseQty(data)">+</button>
  </div>
</fieldset>
</div>
