#containerField{
  display: flex;
}
fieldset{
  border: solid rgba(190, 183, 168, 0.35);
  background-color: rgba(190, 183, 168, 0.35);
  box-shadow: 2px 1px 3px 1px;
  border-radius: 20px;
  width: 120px;
  height: 170px;
  margin: 10px;
}
.card-image{
  // border: solid green;
  width: 10px;
}
.card-image img{
  // border: solid rgb(128, 0, 11);
  width: 120px;
  height: 85px;
  margin-bottom: 3px;
}
.qty-button{
  font-size: 20px;
  cursor: pointer;
}
.card_info p{
  // border: solid brown;
  margin: 0px;
}

.addAndPrice{
  display: flex;
 // border: solid blue;
  padding: 0px;
}

.addAndPrice p{
  margin: 10px;
  // border: solid green;
  // padding: 0px;
}
button{
  margin: 10px;
  cursor:pointer;
  // border: solid green;
  // padding: 0px;
}
