#containerField{
  display: flex;
}
fieldset{
  // border: solid rgb(211, 220, 28);
  border-radius: 20px;
  // background-color: rgb(220, 183, 127);
  background-color: rgba(202, 155, 51, 0.35);
  // box-shadow: 2px 4px 3px 1px;
  width: 130px;
  height: 200px;
  margin: 3px;
}
.card-image{
  // border: solid green;
  width: 10px;
}
.card-image img{
  // border: solid rgb(128, 0, 11);
  width: 120px;
  height: 85px;
}
.qty-button{
  font-size: 20px;
  cursor: pointer;
}

.addAndPrice{
  display: flex;
}


