<div id="containerField">
<fieldset>
  <div class="card-image">
    <img [src]="data.image" alt ="imagen rota"/>
  </div>
  <!-- <img src='../../../../assets/images/cafe_leche.png'/> -->
  <div class = "card_info">
    <p>{{data.name}}</p>
  </div>
  <div class="addAndPrice">
    <p>{{data.price | currency: "S/."}}</p>
    <div class = "increaseCant">
      <!-- <button type ="button" (click)="decreaseQty(data)">-</button> -->
      <button type ="button" (click)="increaseQty(data)">+</button>
    </div>
  </div>
</fieldset>
</div>
