<section class="sectionLogin">
  <div class="logo-container">
    <img src="../../../assets/images/burger-crunch.png">
  </div>
  <form class="loginForm">
    <div id="login" class="loginContainer">
      <p>
      <input type="email" name="email" class="input" placeholder="email">
      </p>
    </div>
    <div>
      <p>
        <input type="password" name="password" class="input" placeholder="password">
        </p>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Ingresar</button>
    </div>
  </form>
</section>
