
<section class="login">
  <h3 id="nameApp">PERUVIAN TASTE</h3>
  <div id="form">
    <div class="messageText"></div>
    <input type="text" id="email" placeholder="Correo">
    <br><br>
    <input type="password" id="password" placeholder="Contraseña">
    <br><br>
      <button id="login" value="iniciar" class="btns">Iniciar Sesión</button>
      <h3>---- O ----</h3>
      <img id="btnGoogle" src="./images/logoGoogle.png" alt="">
    <button value="registrarse" id="register" class="btns"><a href="#/register">Registrarse</a></button>
  </div>
  </section>
