
:root {
  --gold: #ca9b33;
  --black: #000000;
  --white: #FFFFFF;
}

.loginForm {
  // background-color: aqua;
  text-align: center;
  margin-top: 2px;
  padding-top: 2px;
}
.logo-container{
  text-align: center;
}

.input{
  width: 50%;
  height: 43px;
  background-color: #FFFFFF;
  border: var(--gold);
  border-radius: 8px;
  font-size: var(--medium);
  padding: 6px;
  margin-bottom: auto;
}

.btn-primary{
  background-color: var(--gold);
  border-radius: 8px;
  color:var(--black);
  width: 25%;
  height: 43px;
  cursor: pointer;
  font-size: var(--medium);
  font-weight: bold;
  margin: 0 auto;
}

// .description{
//   color: white;
//   margin-bottom: 15px;
//   margin-left: 94px;
// }

// .login{


// }
























